# Agora
AGORA_APP_ID=your_agora_app_id
AGORA_API_KEY=your_agora_api_key
AGORA_API_SECRET=your_agora_api_secret
AGORA_APP_CERTIFICATE=your_agora_app_certificate
AGORA_CHANNEL_NAME=reachy_conversation
AGORA_Reachy_mini_USER_ID=12345
